.home-wrapper {
  .white-space {
    height: 10px;
    background: #f5f5f5;
  }

  .home-content-wrapper {
    margin-top: 45px; // header height
    margin-bottom: 55px; // footer height
    .ant-carousel .slick-dots li button {
      background: #108ee9;
    }
    .ant-carousel .slick-dots-bottom {
      bottom: -7px;
    }
  }
}
