.home-wrapper {
  .white-space {
    height: 10px;
    background: #f5f5f5;
  }

  .grid {
    touch-action: pan-y;
  }

  .home-content-wrapper {
    position: fixed;
    width: 100%;
    top: 45px;
    bottom: 50px;
  }
}