.options-cascader-wrapper {
  position: fixed;
  top: 45px; // header 的高度
  width: 100%;
  z-index: 100;
  .ant-input:placeholder-shown {
    text-align: center;
  }
  .ant-cascader-input.ant-input {
    height: 45px; // 指定级联菜单栏的高度
  }
  .ant-cascader-picker-label {
    text-align: center;
  }
}

#popuparea {
  position: fixed;
  z-index: 100;
  top: 90px;
  bottom: 0;
  background: transparent;
  width: 100%;
}

.category-popup {
  &.ant-cascader-menus {
    width: 100%;
    top: 0px !important; // 由于ant-cascader-menus的top是用js实时算出来的, 所以只好直接用important覆盖
    ul {
      width: 50%;
    }
  }

  .option-cascader-badge {
    position: absolute;
    right: 30px;
    .ant-badge-count {
      background: #888;
    }
  }

  .options-cascader-li-span {
    display: inline-block;
    width: 100%;
  }

  .ant-cascader-menu-item {
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
  }

  .ant-cascader-menu {
    height: 330px;
  }
}

.order-popup {
  &.ant-cascader-menus {
    width: 100%;
    top: 0px !important; // 由于ant-cascader-menus的top是用js实时算出来的, 所以只好直接用important覆盖
    ul {
      width: 100%;
    }
  }

  ul {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    li {
      span {
        span {
          display: inline-block;
          height: 30px;
          width: 100%;
          margin-left: 10px;
        }
      }
    }
  }

  .ant-cascader-menu-item {
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
  }

  .ant-cascader-menu {
    height: 330px;
  }
}

.select-header {
  width: 100%;
  height: 45px;
  &.ant-select-single .ant-select-selector {
    height: 45px;
    line-height: 45px;
    .ant-select-selection-item {
      color: rgba(0, 0, 0, 0.35);

      height: 45px;
      line-height: 45px;
      text-align: center;
    }
  }
}

.select-dropdown {
  width: 100% !important;
}
