.options-cascader-wrapper {
  position: fixed;
  top: $header-height; // header 的高度
  width: 100%;
  z-index: 100;
  .ant-input:placeholder-shown {
    text-align: center;
  }
  .ant-cascader-input.ant-input {
    height: px2vw(45); // 指定级联菜单栏的高度
  }
  .ant-cascader-picker-label {
    text-align: center;
  }
  .ant-cascader-picker {
    width: 100%;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 100%;
  }
}

#popuparea {
  position: fixed;
  z-index: 100;
  top: px2vw(90);
  bottom: 0;
  background: transparent;
  width: 100%;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}

.category-popup {
  &.ant-cascader-menus {
    width: 100%;
    top: px2vw(
      0
    ) !important; // 由于ant-cascader-menus的top是用js实时算出来的, 所以只好直接用important覆盖
    ul {
      width: 50%;
    }
  }

  .option-cascader-badge {
    position: absolute;
    right: px2vw(30);
    .ant-badge-count {
      background: #888;
    }
  }

  .options-cascader-li-span {
    display: inline-block;
    width: 100%;
  }

  .ant-cascader-menu-item {
    padding-top: px2vw(12);
    padding-bottom: px2vw(12);
    position: relative;
  }

  .ant-cascader-menu {
    height: px2vw(330);
  }
}

.order-popup {
  &.ant-cascader-menus {
    width: 100%;
    top: px2vw(
      0
    ) !important; // 由于ant-cascader-menus的top是用js实时算出来的, 所以只好直接用important覆盖
    ul {
      width: 100%;
    }
  }

  ul {
    font-size: px2vw(20);
    color: rgba(0, 0, 0, 0.55);
    li {
      span {
        span {
          display: inline-block;
          height: px2vw(30);
          width: 100%;
          margin-left: px2vw(10);
        }
      }
    }
  }

  .ant-cascader-menu-item {
    padding-top: px2vw(12);
    padding-bottom: px2vw(12);
    position: relative;
  }

  .ant-cascader-menu {
    height: px2vw(330);
  }
}

.select-header {
  width: 100%;
  height: px2vw(45);
  &.ant-select-single .ant-select-selector {
    height: px2vw(45);
    line-height: px2vw(45);
    .ant-select-selection-item {
      color: rgba(0, 0, 0, 0.35);

      height: px2vw(45);
      line-height: px2vw(45);
      text-align: center;
    }
  }
}

.select-dropdown {
  width: 100% !important;
}
