.shop-home-wrapper {
  // .ant-menu-item {
  //   width: 50%;
  //   text-align: center;
  // }
  .shop-nav {
    height: $shop-home-nav-height;
    position: sticky;
    top: -1px;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .ant-menu-item {
      margin: 0 100px;
      font-size: 20px;
    }
  }
}
