.user-home-wrapper {
  position: fixed;
  top: $header-height;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .main-wrapper {
    width: 100%;
    height: px2vw(150);
    background: #108ee9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 px2vw(30);
    i.iconfont {
      color: #fff;
    }
    .username-info-wrapper {
      display: flex;
      align-items: center;
      div {
        display: inline-block;
        margin-left: px2vw(10);
        color: #ffffff;
        font-size: px2vw(20);
        p {
          margin-top: px2vw(10);
        }
      }
    }
  }

  .pocket-wrapper {
    text-align: center;
    font-size: px2vw(16);
    background: #fff;
    .mid-col {
      border-left: px2vw(1) solid #ddd;
      border-right: px2vw(1) solid #ddd;
    }
    .ant-col {
      padding-top: px2vw(20);
      span {
        font-size: px2vw(30);
        font-weight: bold;
      }
      &:nth-child(1) span {
        color: orange;
      }
      &:nth-child(2) span {
        color: red;
      }
      &:nth-child(3) span {
        color: green;
      }
    }
  }

  .list-wrapper {
    margin-top: px2vw(10);
    .ant-list-item {
      background: white;
      padding-left: px2vw(20);
      padding-right: px2vw(20);
      font-size: px2vw(20);
      border-bottom: px2vw(1) solid #ccc;
      .ant-list-item-meta-title {
        font-size: px2vw(20);
        font-weight: normal;
      }
    }
  }
}
