.menu-footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #3190e8;
  height: $shop-home-menu-footer-height;
  z-index: 200;
  .shopping-cart-svg {
    position: absolute;
    bottom: px2vw(20);
    left: px2vw(66);
    width: px2vw(70);
    height: px2vw(70);
    border: px2vw(3) solid #6da0cf;
    border-radius: px2vw(35);
    line-height: px2vw(70);
    text-align: center;
    font-size: 3em;
    background: #3190e8;
  }
  .shopping-cart-badge {
    position: absolute;
    left: px2vw(118);
    bottom: px2vw(70);
    color: white;
    background: #e66c6a;
    font-size: px2vw(12);
    min-width: px2vw(16);
    border-radius: px2vw(8);
    height: px2vw(16);
    text-align: center;
    line-height: px2vw(16);
  }
  .price-sum {
    position: absolute;
    height: 100%;
    left: px2vw(150);
    p {
      margin-bottom: 0;
      font-size: px2vw(12);
      color: white;
    }
    p:first-child {
      font-size: px2vw(21);
      font-weight: bold;
    }
  }
  .check-out {
    position: absolute;
    right: 0;
    bottom: 0;
    width: px2vw(110);
    height: 100%;
    background: #96a9b9;
    text-align: center;
    line-height: px2vw(50);
    font-size: px2vw(20);
    &.active {
      background: #4cd964;
      color: white;
    }
  }
}

// 购物车drawer

.cart-drawer {
  .ant-drawer-content-wrapper {
    height: 50% !important;
  }
  .ant-drawer-body {
    padding: px2vw(5) px2vw(24);
    font-size: px2vw(20);
  }
  .drawer-title {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    span {
      font-size: px2vw(15);
      margin-right: px2vw(3);
    }
    span:nth-child(1) {
      font-size: px2vw(20);
    }
  }
  .list-wrapper {
    padding-bottom: $shop-home-menu-footer-height;
    .list-item-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: px2vw(20);
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
        span:not(:last-child) {
          margin-right: px2vw(10);
        }
      }
    }
  }
}
