$vw_base: 375;
$scale: 100vw;

// @media screen and (min-width: 750px) {
//   $scale: 750px;
// }

// @media screen and (max-width: 375px) {
//   $scale: 375px;
// }

$font_size_base: 14;
@function px2vw($px) {
  @return ($px/$vw_base) * ($scale);
}

$header-height: px2vw(45);
$footer-height: px2vw(55);
$shop-home-nav-height: px2vw(50);
$shop-home-menu-sider-width: px2vw(100);
$shop-home-menu-footer-height: px2vw(50);
