.shop-home-header {
  color: #ffffff;
  padding: px2vw(10);
  position: relative;
  .back-arrow,
  .right-arrow {
    // position: absolute;
    // top: px2vw(5);
    // left: px2vw(5);
    font-size: px2vw(22);
  }
  .activities-p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .shop-avatar {
    width: 100%;
    height: 100%;
  }
  .blur-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(px2vw(50));
  }
  .shop-info {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h1 {
    color: white;
    font-size: px2vw(20);
  }
  p,
  span {
    font-size: px2vw(12);
  }
  .activities-icon {
    display: inline-block;
    border-radius: px2vw(2);
    padding: 0 px2vw(4);
    margin-right: px2vw(4);
  }
}
