.shop-list-wrapper {
  .list-title {
    font-size: px2vw(14);
    color: #999;
    margin-right: px2vw(4);
  }

  .list-item-content-wrapper {
    display: flex;
    align-items: center;

    .shop-list-item-avatar-wraper {
      margin-right: px2vw(5);

      img {
        display: block;
        width: 100%;
        height: 100%;
        // width: 5rem;
        // height: 5rem;
        // margin-right: 0.4rem;
      }
    }

    div.am-card.am-card-full {
      &::before {
        height: px2vw(0);
      }

      &::after {
        height: px2vw(0);
      }
    }

    // .shop-name {
    //   display: inline-block;
    //   width: 30vw;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   white-space: nowrap;
    // }

    .premium {
      font-size: px2vw(12);
      font-weight: bold;
      background: #ffd930;
      border-radius: px2vw(2);
      padding: px2vw(2);
      margin-right: px2vw(5);
    }

    .card-wrapper {
      flex: 1;
    }

    .am-card-header {
      padding: px2vw(9) px2vw(2);
    }

    .support-icon {
      color: #ccc;
      font-size: px2vw(5);
      border: px2vw(1) solid #ccc;
      border-radius: px2vw(1);
      margin: px2vw(1);
    }

    .ant-rate {
      font-size: px2vw(10);
    }

    .recent-order-num {
      font-size: px2vw(10);
      color: #888;
    }

    .card-mid-wrapper {
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .delivery-wrapper {
      flex: 1;
      text-align: right;

      span {
        font-size: px2vw(12);

        &:nth-child(2n + 1) {
          color: #fff;
          background: #3190e8;
          border: px2vw(1) solid #3190e8;
          border-radius: px2vw(1);
          margin-right: px2vw(2);
        }

        &:nth-child(2n) {
          color: #3190e8;
          border: px2vw(1) solid #3190e8;
          border-radius: px2vw(1);
        }
      }
    }

    .am-card-footer {
      padding: px2vw(2);
    }

    .am-card-footer-content {
      font-size: px2vw(12);
    }

    .am-card-footer-extra {
      font-size: px2vw(12);
    }
  }
}
