.shop-menu-wrapper {
  #spec-modal-container {
    .ant-modal {
      top: 250px;
      width: 420px !important;
    }
    .ant-radio-button-wrapper {
      float: left;
      margin: 3px;
    }
  }

  .cart-cnt {
    display: inline-block;
    font-size: 18px;
    font-weight: lighter;
    margin: 0 10px;
    position: relative;
    top: -4px;
  }

  .category-cnt {
    display: block;
    background: #3190e8;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 5px;
    line-height: 18px;
    width: 18px;
    text-align: center;
    height: 18px;
    color: white;
  }
}
